@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

.welcomescreen .title {
    text-align: center;
}

.welcomescreen .stats {
    display: flex;
    justify-content: space-around;
}

.welcomescreen .buttons {
    text-align: center;
}

.welcomescreen .buttons a {
    transition: .4s;
}

.welcomescreen .buttons a:hover {
    color: green;
    cursor: pointer;
}

.game {
    display: none;
}

.game .grid {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

.game .grid div {
    width: 40px;
    height: 40px;
}

.game .invader {
    background-color: purple;
    border-radius: 20px;
    max-width: 80px;
    max-height: 80px;
}

.game .shooter {
    background-color: green;
    width: 80px;
    height: 80px;
}

.game img {
    max-width: 80px;
    max-height: 80px;
}

.game .laser {
    background-color: orange;
    border-radius: 20px;
}

.game .boom {
    background-color: red;
}

@media (max-width: 850px) {

    .welcomescreen .stats {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

