@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

.welcomescreen .title {
    text-align: center;
}

.welcomescreen .stats {
    display: flex;
    justify-content: space-around;
}

.game {
    display: none;
}

.game .grid {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;

}

.game .grid div {
    width: 20px;
    height: 20px;
}

.game .invader {
    background-color: purple;
    border-radius: 10px;
}

.game .shooter {
    background-color: green;
}

.game .laser {
    background-color: orange;
}

.game .boom {
    background-color: red;
}

